In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [3]:
raw_data = '../data/raw'

In [5]:
trends_raw = pd.read_csv(f'{raw_data}/googletrend.csv')
trends_raw.head(1)

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96

In [7]:
store_states_raw = pd.read_csv(f'{raw_data}/store_states.csv')
store_states_raw.head(1)

   Store State
0      1    HE

In [8]:
state_names_raw = pd.read_csv(f'{raw_data}/state_names.csv')
state_names_raw.head(1)

           StateName State
0  BadenWuerttemberg    BW

### There are German states not represented in the dataset

In [11]:
set(state_names_raw['State'])-set(store_states_raw['State'])

{'BB', 'HB', 'MV', 'SL'}

In [12]:
set(store_states_raw['State'])-set(state_names_raw['State'])

set()

### HB named differently in both datasets

In [23]:
trend_states = trends_raw['file'].str.split('_', expand=True)[2]
set(store_states_raw['State'])-set(trend_states)

{'HB,NI'}

In [29]:
'HB,NI' in set(state_names_raw['State'])

True